<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>APP_ID</string>
	<key>Token</key>
	<string>TOKEN</string>
	<key>Secret</key>
	<string>SECRED</string>
	<key>EventsToken</key>
	<string>CFE5887037857D44C69CF247CAE09B20A2FAAEC31C2A6AFCBFCED7811A7D18EEAFA5973F1D78DE01EC2515BF29166C75CBD20E448601E6C8BA09302FF80A2860</string>
</dict>
</plist>
